.header {
  text-align: center;
  color: white;
  height: 150px;
  width: 100%;
  background-color: rgb(166, 206, 220);
}

.card {
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.card-icon {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 150px;
  margin-left: 45%;
  border-radius: 25px;
  background-color: rgb(166, 206, 220);
}